# Process bednot() output for RefSeq vs ClinVar

In [22]:
from datetime import datetime
import os
import numpy as np
import pandas as pd
import re

today = datetime.today().strftime('%Y-%m-%d')
os.chdir('/Users/pbousounis/Experiments/2019-10-29_hg19mod/2019-10-25_RefSeq_GFF3_download_validate')

In [5]:
ref2clin_file = '2019-11-05_GRCh37_latest_genomic_IN_2019-11-05_clinvar_path-l_RECOVERY.txt'
ref2clin = pd.read_csv(ref2clin_file, sep='\t', low_memory=False)

In [6]:
df = ref2clin

# extract RefSeq TX accessions from exon_ids
df['tx_id'] = df['exon_id'].str.split('-', expand=True)[1].str.split(':', expand=True)[0]
df['gene'] = df['exon_id'].str.split('-', expand=True)[0]
df.head()

,chr,start,end,exon_id,clinvar_recovery_count,tx_id,gene
0,1,12612,12720,DDX11L1-NR_046018:exon2(+),0,NR_046018,DDX11L1
1,1,13220,14408,DDX11L1-NR_046018:exon3(+),0,NR_046018,DDX11L1
2,1,29320,29369,WASH7P-NR_024540:exon11(-),0,NR_024540,WASH7P
3,1,24737,24890,WASH7P-NR_024540:exon10(-),0,NR_024540,WASH7P
4,1,18267,18365,WASH7P-NR_024540:exon9(-),0,NR_024540,WASH7P

In [46]:
cv_bed_file = '/Users/pbousounis/Experiments/2019-10-29_hg19mod/2019-11-06_refseq_cv_slop_intersect/bed/2019-11-05_clinvar_path-l.bed'
cv_bed = pd.read_csv(cv_bed_file, sep='\t')
cv_bed.head()

    chr   start     end          name   gene  total_gene_vars
0  chr1  949522  949523  183381_ISG15  ISG15              3.0
1  chr1  949695  949696  161455_ISG15  ISG15              3.0
2  chr1  949738  949739  161454_ISG15  ISG15              3.0
3  chr1  957604  957605   243036_AGRN   AGRN             15.0
4  chr1  957692  957693   243037_AGRN   AGRN             15.0

### Join the clinvar total_gene_vars to the ref2clin table, by gene names

* Add transcript recovery and percent recovery columns

In [47]:
result = pd.merge(df, cv_bed, how='left', on=['gene'])
result.head()
# df['gene_recovery'] = 
# #df['gene_recovery'] = df['clinvar_recovery_count'].groupby(df['gene']).transform('sum')
# df['transcript_recovery'] = df['clinvar_recovery_count'].groupby(df['tx_id']).transform('sum')
# df['tx_perc_recovery'] = df['transcript_recovery'] / df['gene_recovery'] * 100
# df.head()

,chr_x,start_x,end_x,exon_id,clinvar_recovery_count,tx_id,gene,gene_recovery,transcript_recovery,tx_perc_recovery,chr_y,start_y,end_y,name,total_gene_vars
0,1,12612,12720,DDX11L1-NR_046018:exon2(+),0,NR_046018,DDX11L1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,13220,14408,DDX11L1-NR_046018:exon3(+),0,NR_046018,DDX11L1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,1,29320,29369,WASH7P-NR_024540:exon11(-),0,NR_024540,WASH7P,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,1,24737,24890,WASH7P-NR_024540:exon10(-),0,NR_024540,WASH7P,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1,18267,18365,WASH7P-NR_024540:exon9(-),0,NR_024540,WASH7P,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# save the file as tsv with date prefix
file_out = today + '_GRCh37_latest_genomic_VS_clinvar_path-l_tx-gene-recovery.tsv'
df.to_csv(file_out, sep='\t', header=True, index=False)

### Import clinvar bed file for total_gene_vars values

In [9]:
txdf = df[['tx_id', 'gene', 'gene_recovery', 'transcript_recovery', 'tx_perc_recovery']].dropna().drop_duplicates()
txdf.head()

,tx_id,gene,gene_recovery,transcript_recovery,tx_perc_recovery
194,NM_005101,ISG15,3.0,3.0,100.0
196,NM_001305275,AGRN,30.0,15.0,50.0
235,NM_198576,AGRN,30.0,15.0,50.0
345,NM_003327,TNFRSF4,1.0,1.0,100.0
366,NM_080605,B3GALT6,18.0,18.0,100.0

In [19]:
# rank transcripts by percent recovery
txdf['tx_rank'] = txdf.groupby("gene")["tx_perc_recovery"].rank("dense", ascending=False)
txdf.head(200)

,tx_id,gene,gene_recovery,transcript_recovery,tx_perc_recovery,tx_rank
194,NM_005101,ISG15,3.0,3.0,100.000000,1.0
196,NM_001305275,AGRN,30.0,15.0,50.000000,1.0
235,NM_198576,AGRN,30.0,15.0,50.000000,1.0
345,NM_003327,TNFRSF4,1.0,1.0,100.000000,1.0
366,NM_080605,B3GALT6,18.0,18.0,100.000000,1.0
584,NM_004421,DVL1,34.0,17.0,50.000000,1.0
599,NM_001330311,DVL1,34.0,17.0,50.000000,1.0
617,NM_001282582,MXRA8,5.0,1.0,20.000000,1.0
628,NM_001282583,MXRA8,5.0,1.0,20.000000,1.0
638,NM_001282584,MXRA8,5.0,1.0,20.000000,1.0
647,NM_032348,MXRA8,5.0,1.0,20.000000,1.0
657,NM_001282585,MXRA8,5.0,1.0,20.000000,1.0
810,NM_018188,ATAD3A,4.0,2.0,50.000000,1.0
826,NM_001170535,ATAD3A,4.0,1.0,25.000000,2.0
842,NM_001170536,ATAD3A,4.0,1.0,25.000000,2.0
858,NM_001114748,TMEM240,6.0,6.0,100.000000,1.0
1309,NM_001282539,GNB1,32.0,11.0,34.375000,1.0
1320,NM_001282538,GNB1,32.0,10.0,31.250000,2.0
1330,NM_002074,GNB1,32.0,11.0,34.375000,1.0
1525,NM_003036,SKI,15.0,15.0,100.000000,1.0
1572,NM_002617,PEX10,39.0,18.0,46.153846,2.0
1578,NM_153818,PEX10,39.0,21.0,53.846154,1.0
1792,NM_022114,PRDM16,14.0,7.0,50.000000,1.0
1809,NM_199454,PRDM16,14.0,7.0,50.000000,1.0
2101,NM_014704,CEP104,5.0,5.0,100.000000,1.0
2215,NM_001291594,NPHP4,86.0,20.0,23.255814,2.0
2241,NM_001291593,NPHP4,86.0,22.0,25.581395,1.0
2268,NR_111987,NPHP4,86.0,22.0,25.581395,1.0
2301,NM_015102,NPHP4,86.0,22.0,25.581395,1.0
2505,NM_207370,GPR153,1.0,1.0,100.000000,1.0
...,...,...,...,...,...,...
8043,NM_001195010,GRHL3,35.0,9.0,25.714286,1.0
8059,NM_021180,GRHL3,35.0,9.0,25.714286,1.0
8433,NM_013943,CLIC4,1.0,1.0,100.000000,1.0
8476,NR_135788,RSRP1,4.0,0.0,0.000000,2.0
8480,NM_001321772,RSRP1,4.0,0.0,0.000000,2.0
8485,NR_135787,RSRP1,4.0,0.0,0.000000,2.0
8491,NR_135789,RSRP1,4.0,0.0,0.000000,2.0
8495,NR_135777,RSRP1,4.0,0.0,0.000000,2.0
8499,NM_020317,RSRP1,4.0,0.0,0.000000,2.0
8504,NR_135785,RSRP1,4.0,0.0,0.000000,2.0
8510,NR_135144,RSRP1,4.0,0.0,0.000000,2.0
8515,NR_135783,RSRP1,4.0,0.0,0.000000,2.0
8521,NR_135781,RSRP1,4.0,0.0,0.000000,2.0
8527,NR_135782,RSRP1,4.0,0.0,0.000000,2.0
8533,NR_135778,RSRP1,4.0,0.0,0.000000,2.0
8538,NR_135780,RSRP1,4.0,0.0,0.000000,2.0
8543,NR_135786,RSRP1,4.0,0.0,0.000000,2.0
8548,NR_135784,RSRP1,4.0,0.0,0.000000,2.0
8553,NR_135143,RSRP1,4.0,0.0,0.000000,2.0
8557,NR_135792,RSRP1,4.0,1.0,25.000000,1.0
8559,NR_135793,RSRP1,4.0,1.0,25.000000,1.0
8562,NR_135791,RSRP1,4.0,1.0,25.000000,1.0
8565,NR_135790,RSRP1,4.0,1.0,25.000000,1.0
8568,NM_001282872,RHD,16.0,2.0,12.500000,1.0
8578,NM_001282871,RHD,16.0,2.0,12.500000,1.0
8587,NM_016124,RHD,16.0,2.0,12.500000,1.0
8597,NM_001282870,RHD,16.0,2.0,12.500000,1.0
8606,NM_001282869,RHD,16.0,2.0,12.500000,1.0
8614,NM_001282868,RHD,16.0,2.0,12.500000,1.0
8622,NM_001127691,RHD,16.0,2.0,12.500000,1.0

In [13]:
txdf_fileout = today + '_refseq_VS_clinvar_TX_GENE_RECOVERY.tsv'
txdf.to_csv(txdf_fileout, sep='\t', index=False, header=True)

In [14]:
# did file save succesfully?
os.path.isfile(txdf_fileout)

True

In [26]:
top_txdf = txdf[txdf.tx_rank == 1.0]
top_txdf = top_txdf[['gene', 'tx_id', 'gene_recovery', 'transcript_recovery', 'tx_perc_recovery', 'tx_rank']]

In [27]:
top_txdf.head()

,gene,tx_id,gene_recovery,transcript_recovery,tx_perc_recovery,tx_rank
194,ISG15,NM_005101,3.0,3.0,100.0,1.0
196,AGRN,NM_001305275,30.0,15.0,50.0,1.0
235,AGRN,NM_198576,30.0,15.0,50.0,1.0
345,TNFRSF4,NM_003327,1.0,1.0,100.0,1.0
366,B3GALT6,NM_080605,18.0,18.0,100.0,1.0

In [44]:
top_txdf_fileout = today + '_refseq_VS_clinvar_TOP_TX_BY_RECOVERY.tsv'
top_txdf.to_csv(top_txdf_fileout, sep='\t', header=True, index=False)

# did file save succesfully?
os.path.isfile(top_txdf_fileout)

True

In [43]:
os.getcwd()

'/Users/pbousounis/Experiments/2019-10-29_hg19mod/2019-10-25_RefSeq_GFF3_download_validate'

In [45]:
txdf.to_csv('2019-11-06_RefSeq_Ranked_TXs.tsv', sep='\t', header=True, index=False)